<div class="yield-wrapper" class="pull-left">
	<section class="head">
		<div class="pull-left">
			<div class="left-wrapper">
	    		<h1 class="title"><a class="plain-link" href="/">MovieList</a></h1>
	  		</div>
	  	</div>
	  	<div class="pull-right">
	  		<div class="right-wrapper">
	  			<ul class="user-nav">
	  				<li><h3>WELCOME, <%= @current_user_name.upcase %></h3></li>
	  				<li><a href="/logout">LOGOUT</a></li>
	  			</ul>
	  		</div>
	  	</div>
	</section>
	<section class="add">		
		<form action="/<%= @current_user.id %>" method="post">
			<div class="pull-left">
				<div class="left-wrapper">
					<input class="big-btn" type="submit" value="add movie!">
				</div>
			</div>
			<div class="pull-right">
				<div class="right-wrapper">
					<input class="big-textfield" type="text" name="title" placeholder="I want to see...">
				</div>
			</div>
		</form>
	</section>
	<section class="list">
			<% @current_user.movies.each do |movie| %>
				<article <%= 'class="watched"' if movie.watched == true %>>
					<div>
						<div class="pull-left">
							<div class="left-wrapper">
								<% if movie.watched %>
									<p>
										I watched <i><%= movie.title %></i> on <%= movie.added_on %>.
									</p>
								<% else %>
									<p>
										I've been waiting to see <i><%= movie.title %></i> since <%= movie.added_on %>.
									</p>
								<% end %>
							</div>
						</div>
						<div class="pull-right">
							<div class="right-wrapper">
								<nav class="user-nav">
									<ul>
										<li <%= 'class="hidden"' if movie.watched %>>
											<a href="/<%= @current_user.id %>/<%= movie.id %>/watched">watched</a>
										</li>
										<li>
											<a href="/<%= @current_user.id %>/<%= movie.id %>/delete">delete</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</article>
			<% end %>	
	</section>
</div>