<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/8-images/icon.png">
  <title><%= @title %> | 2Chez</title>


  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Stylesheet -->
  <link href="<%= @css %>.css" rel="stylesheet">

  <style id="holderjs-style" type="text/css"></style>
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <section class="container">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="container">
              <h1>Hi, <%= @user %>.</h1>
              <p>Instructions go here.</p>
              <% @menu_items.each do |item| %>
                <article class="row">
                  <div class="col-md-2">
                    <p><%= item.name %> (<%= item.menu %>)</p>  
                  </div>
                  <div class="col-md-4">
                    <p><%= item.description %></p>
                  </div>
                  <div class="col-md-1">
                    <p>$<%= item.price %></p>
                  </div>
                  <div class="col-md-1">
                    <button class="btn btn-big btn-warning">edit</button>
                  </div>
                  <div class="col-md-1">
                    <button class="btn btn-big btn-danger">delete</button>
                  </div>
                </article>  
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>